* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  height: 100vh;
  background: #0d0d0d;
  display: flex;
}

#app {
  flex: 1;
  width: 100vw;
  height: 100%;
  background: #0d0d0d;
  display: flex;
  flex-direction: column;
}

#chat-container {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  /* Changed to auto to allow scrolling when needed */
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  scroll-behavior: smooth;
}

/* hides scrollbar */
#chat-container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.ai {
  background: #2f2f2f;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background: #001f54;
  border: 1px solid #2c7da0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #2c7da0;
  border: 1px solid #001f54;
  color: #fff;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;
  color: #dcdcdc;
  font-size: 1rem;
  max-width: 100%;
  overflow-x: auto;
  white-space: pre-wrap;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

form {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background: #171717;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

textarea {
  width: 100%;
  color: #fff;
  font-size: 18px;
  padding: 16px 32px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
  resize: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
}

/* Media Queries for Mobile */
@media (max-width: 600px) {
  #app {
    flex-direction: column;
    height: 100vh;
    /* Ensure the app takes the full height */
  }

  #chat-container {
    flex: 1;
    /* Allow chat container to take as much space as possible */
  }

  form {
    height: auto;
    /* Let form height adjust automatically */
  }
}